* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Oswald", serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#366785), to(#98d8ff));
  background: linear-gradient(#366785, #98d8ff);
}

.container {
  max-width: 780px;
  margin: 0 auto;
  padding: 0 30px;
}

.weather {
  margin-top: 50px;
}

.weather-input {
  font-weight: 400;
  font-size: 24px;
  color: #f4f4f4;
  width: 100%;
}
.weather-input::-webkit-input-placeholder {
  color: #d3d3d3;
}
.weather-input::-moz-placeholder {
  color: #d3d3d3;
}
.weather-input:-ms-input-placeholder {
  color: #d3d3d3;
}
.weather-input::-ms-input-placeholder {
  color: #d3d3d3;
}
.weather-input::placeholder {
  color: #d3d3d3;
}

.weather-title {
  font-size: 86px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin-top: 25px;
}

.weather-search {
  padding: 15px 39px;
  background-color: rgba(244, 244, 244, 0.3764705882);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 35px;
  -webkit-column-gap: 39px;
     -moz-column-gap: 39px;
          column-gap: 39px;
}

.weather-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
  margin-top: 35px;
  margin-bottom: 55px;
}
.weather-card img {
  left: 32px;
}

.weather-temp {
  color: #f4f4f4;
  font-size: 96px;
  font-weight: 700;
  z-index: 2;
  position: relative;
  left: -40px;
}

.day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-card-title {
  color: #f4f4f4;
  opacity: 0.4;
  font-size: 48px;
  text-align: center;
  font-weight: 700;
}

.weather-card-text {
  color: #f4f4f4;
  font-size: 48px;
  text-align: center;
  font-weight: 700;
}

.day-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hidden {
  display: none;
}

.loading {
  color: #f4f4f4;
  font-size: 32px;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 850px) {
  .weather {
    margin-top: 25px;
  }
}
@media (max-width: 615px) {
  .weather-search {
    padding: 10px 30px;
  }
  .weather-title {
    font-size: 64px;
  }
  .weather-input {
    font-size: 22px;
  }
  .weather-card-title {
    font-size: 32px;
  }
  .weather-card-text {
    font-size: 34px;
    margin-top: -10px;
  }
  .weather-temp {
    font-size: 76px;
    top: 10px;
    left: -30px;
  }
  .weather-img {
    width: 175px;
  }
  .left,
  .right {
    width: 38px;
  }
  .loading {
    font-size: 24px;
    margin-top: 10px;
  }
}