* {
    padding: 0px;
    margin: 0px;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
a,
a:link,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
aside,
nav,
footer,
header,
section,
main {
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}
ul,
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
img,
svg {
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}
input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}
input::-ms-clear {
    display: none;
}
button,
input[type='submit'] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}
input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
label {
    cursor: pointer;
}
legend {
    display: block;
}

body {
    font-family: 'Oswald', serif;
    background: linear-gradient(#366785, #98d8ff);
}

.container {
    max-width: 780px;
    margin: 0 auto;
    padding: 0 30px;
}

.weather {
    margin-top: 50px;
}

.weather-input {
    font-weight: 400;
    font-size: 24px;
    color: #f4f4f4;
    width: 100%;
    &::placeholder {
        color: #d3d3d3;
    }
}

.weather-title {
    font-size: 86px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
}

.weather-search {
    padding: 15px 39px;
    background-color: #f4f4f460;
    display: flex;
    justify-content: center;
    border-radius: 35px;
    column-gap: 39px;
}

.weather-card {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 35px;
    margin-top: 35px;
    & img {
        left: 32px;
    }
    margin-bottom: 55px;
}

.weather-temp {
    color: #f4f4f4;
    font-size: 96px;
    font-weight: 700;
    z-index: 2;
    position: relative;
    left: -40px;
}

.day {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-card-title {
    color: #f4f4f4;
    opacity: 0.4;
    font-size: 48px;
    text-align: center;
    font-weight: 700;
}

.weather-card-text {
    color: #f4f4f4;
    font-size: 48px;
    text-align: center;
    font-weight: 700;
}

.day-data {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

@media (max-width: 850px) {
    .weather {
        margin-top: 25px;
    }
}

@media (max-width: 615px) {
    .weather-search {
        padding: 10px 30px;
    }
    .weather-title {
        font-size: 64px;
    }
    .weather-input {
        font-size: 22px;
    }
    .weather-card-title {
        font-size: 32px;
    }
    .weather-card-text {
        font-size: 34px;
        margin-top: -10px;
    }
    .weather-temp {
        font-size: 76px;
        top: 10px;
        left: -30px;
    }
    .weather-img {
        width: 175px;
    }
    .left,
    .right {
        width: 38px;
    }
}
